body {
    background: url(https://images.freeimages.com/images/large-previews/c65/blue-grained-wall-1637575.jpg);
}

#border {
    background-color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 90px;
}

.fab {
    color: white;
}

#headshot {
    width: 200px;
}

#holiday {
    width: 250px;
}

.header-background {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url(assets/pics/header-background.jpg)
}