body {
    background: url(../pics/Blue-wall-background.jpg);
    width: auto;
}

#border {
    background-color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 90px;
}

.fab {
    color: white;
}

#headshot {
    width: 200px;
}

#holiday {
    width: 250px;
}

.header-background {
    background:
        linear-gradient(
            rgba(0, 0, 0, 0.4),
            rgba(0, 0, 0, 0.4)
        ),
        url(../pics/header-background.jpg);
    padding-top: 30px;
    padding-bottom: 30px;
}

.header {
    text-align: center;
    color: whitesmoke;
}